<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music Environment</title>
    <link rel="stylesheet" href="music.css">
</head>
<body>
    
    <div class="file">
        <form action="/file" method="post">
            <input type="file" name="file"  enctype="multipart/form-data" required autocomplete="off">
            {{f}}
            <input type="submit" value="Click">

        </form>
    </div>
</body>
</html>